/* Coolors Exported Palette - coolors.co/fffcf9-b1ede8-6d435a-ff5a5f-352d39 */

/* RGB */
$snow: rgba(255, 252, 249, 1);
$pale-blue: rgba(177, 237, 232, 1);
$deep-red: rgba(109, 67, 90, 1);
$pastel-red: rgba(255, 90, 95, 1);
$onyx: rgba(53, 45, 57, 1);
